{% extends "AEBackOfficeBundle::layout.html.twig" %}

{% block title %} {{ parent() }} - Ajouter un photographe {% endblock %}

{% block body %}

<div class="row">
    <div class="col-lg-12">
        <section class="panel">
            <header class="panel-heading">
                <h2>
                    GESTION DES PHOTOGRAPHES
                    <small>Ajouter</small>
                </h2>
            </header>
            <div class="panel-body">
                <a href="{{ path('ae_backoffice_user_index') }}">
                    <button class="btn btn-danger btn-shadow"><i class="fa fa-long-arrow-left"></i>&nbsp;&nbsp;RETOUR
                    </button>
                </a>
            </div>
        </section>
    </div>
</div>
<div class="row">
    <div class="col-lg-7">
        <section class="panel">
            <header class="panel-heading">
                Le photographe :
            </header>

            <div class="panel-body">

                {{ form_start(form) }}
                <div class="form-group">
                    {{ form_row(form.name) }}
                </div>

                <div class="form-group">
                    {{ form_row(form.firstName) }}
                </div>

                <div class="form-group">
                    {{ form_row(form.email) }}
                </div>
                <div class="form-group">
                    {{ form_row(form.plainPassword.first) }}
                </div>
                <div class="form-group">
                    {{ form_row(form.plainPassword.second) }}
                </div>

                <div class="checkbox">
                    <label for="">
                        {{ form_row(form.isActive) }} Activer cet utilisateur
                    </label>
                </div>

            </div>

        </section>
    </div>
    <div class="col-lg-5">
        <section class="panel">
            <header class="panel-heading">
                Enregistrement
            </header>
            <div class="panel-body">
                <button type="submit" class="btn btn-success btn-lg btn-block btn-shadow">Ajouter</button>
            </div>
        </section>
    </div>

    {{ form_end(form) }}

    {% endblock %}

