{% block body %}
<div class="col-md-4 col-md-offset-4">
        <h1>S'enregistrer</h1>

        {{ form_start(form) }}
            <div class="form-group">
                {{ form_row(form.email) }}
            </div>
            <div class="form-group">
                {{ form_row(form.plainPassword.first) }}
            </div>
            <div class="form-group">
                {{ form_row(form.plainPassword.second) }}
            </div>

            <button type="submit" class="btn btn-primary">Ajouter</button>
        {{ form_end(form) }}

        </form>

    </div>
    
 {% endblock %}